{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
        "module-resolver",
        {
            "alias": {
                "@app": "./src",
                "@compiler": "./src/code-compiler",
                "@config": "./src/config",
                "@middlewares": "./src/middlewares",
                "@routes": "./src/routes"
            }
        }
    ]
]
}
